.stmts{
  float:left;
}

.node{
  color: red;
  position: relative;
}

.clear{
  clear:both;
}

canvas{
  position: absolute;
}
div#main {
  height:100vh;
}

.label{
  font-weight: bold;
    float: left;
    width: 120px;
}

#subqueryWrapper,#methodList{
  position: absolute;
  right: 0;
  top:0 ;
}
.hidden{
    opacity: 0;
}
#queryDetails{
  position: absolute;
  right: 10px;
  top:10px ;
}